services:
  mongodb:
    image: mongo:7-jammy
    container_name: gdash-mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DATABASE}
    volumes:
      - mongo-data:/data/db
    networks:
      - gdash-network
  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    container_name: gdash-rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672" # management UI
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    networks:
      - gdash-network
volumes:
  mongo-data:
    driver: local
  rabbitmq-data:
    driver: local
networks:
  gdash-network:
    driver: bridge
