# Define um bloco reutilizável com âncoras YAML para propriedades comuns
x-common-properties: &common-properties
  restart: unless-stopped
  networks:
    - gdash-network
  env_file:
    - .env
services:
  rabbitmq:
    !!merge <<: *common-properties
    image: rabbitmq:3.13-management-alpine
    container_name: gdash-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672" # Management UI
    # O .env injetará RABBITMQ_USER e RABBITMQ_PASS, que o RabbitMQ usa para o usuário padrão.
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "check_port_connectivity" ]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 40s
  # --- SERVIÇOS DA APLICAÇÃO ---
  gdash-api:
    !!merge <<: *common-properties
    build:
      context: ./packages/gdash-api
      dockerfile: Dockerfile
    container_name: gdash-api
    ports:
      - "3000:3000"
    environment:
      MONGODB_URI: ${MONGODB_URI}
      RABBITMQ_URL: "amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@rabbitmq:5672"
      PORT: 3000
      FRONTEND_URL: ${FRONTEND_URL}
      JWT_SECRET: ${JWT_SECRET}
      ADMIN_EMAIL: ${ADMIN_EMAIL}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      GEMINI_API_KEY: ${GEMINI_API_KEY}
      GEMINI_MODEL: ${GEMINI_MODEL}
    depends_on:
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:3000/api/docs" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s
  rabbitmq-worker:
    !!merge <<: *common-properties
    build:
      context: ./packages/rabbitmq-worker
      dockerfile: Dockerfile
    container_name: gdash-rabbitmq-worker
    environment:
      RABBITMQ_HOST: rabbitmq
      API_URL: http://gdash-api:3000
    depends_on:
      rabbitmq:
        condition: service_healthy
      gdash-api:
        condition: service_healthy
  weather-data-collector:
    !!merge <<: *common-properties
    build:
      context: ./packages/weather-data-collector
      dockerfile: Dockerfile
    container_name: gdash-weather-collector
    environment:
      RABBITMQ_HOST: rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy
      gdash-api:
        condition: service_healthy
      rabbitmq-worker:
        condition: service_started
  weather-dashboard:
    !!merge <<: *common-properties
    build:
      context: ./packages/gdash-frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
        VITE_STARWARS_API_URL: ${VITE_STARWARS_API_URL}
    container_name: gdash-frontend
    ports:
      - "80:80"
    depends_on:
      gdash-api:
        condition: service_healthy
volumes:
  rabbitmq-data:
    driver: local
networks:
  gdash-network:
    driver: bridge
