# Define um bloco reutilizável com âncoras YAML para propriedades comuns
x-common-properties: &common-properties
  restart: unless-stopped
  networks:
    - gdash-network
  env_file:
    - .env
services:
  # --- SERVIÇOS DA APLICAÇÃO ---
  gdash-api:
    !!merge <<: *common-properties
    build:
      context: ./packages/gdash-api
      dockerfile: Dockerfile
    container_name: gdash-api
    ports:
      - "3000:3000"
    environment:
      MONGODB_URI: ${MONGODB_URI}
      RABBITMQ_URL: ${RABBITMQ_URL}
      PORT: 3000
      FRONTEND_URL: ${FRONTEND_URL}
      JWT_SECRET: ${JWT_SECRET}
      ADMIN_EMAIL: ${ADMIN_EMAIL}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      GEMINI_API_KEY: ${GEMINI_API_KEY}
      GEMINI_MODEL: ${GEMINI_MODEL}
    healthcheck:
      test: [ "CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:3000/api/docs" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s
  rabbitmq-worker:
    !!merge <<: *common-properties
    build:
      context: ./packages/rabbitmq-worker
      dockerfile: Dockerfile
    container_name: gdash-rabbitmq-worker
    environment:
      RABBITMQ_URL: ${RABBITMQ_URL}
      API_URL: http://gdash-api:3000
    depends_on:
      gdash-api:
        condition: service_healthy
  weather-data-collector:
    !!merge <<: *common-properties
    build:
      context: ./packages/weather-data-collector
      dockerfile: Dockerfile
    container_name: gdash-weather-collector
    environment:
      RABBITMQ_URL: ${RABBITMQ_URL}
    depends_on:
      gdash-api:
        condition: service_healthy
      rabbitmq-worker:
        condition: service_started
  weather-dashboard:
    !!merge <<: *common-properties
    build:
      context: ./packages/gdash-frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
        VITE_STARWARS_API_URL: ${VITE_STARWARS_API_URL}
    container_name: gdash-frontend
    ports:
      - "80:80"
    depends_on:
      gdash-api:
        condition: service_healthy
networks:
  gdash-network:
    driver: bridge
